@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center text-primary" >WELCOME</h1>
        <h1 id="title" class="text-center text-primary">TO</h1>
        <h1 id="title" class="text-center text-primary">DVP MOBILES</h1>
    </section>
   
</main>